.tab-panels ul{
  margin: 0;
  padding: 0;
  height: 100%;
}

.tab-panels ul li{
  list-style-type: none;
  display: inline-block;;
  background: #999;
  margin: 0;
  padding: 3px 10px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}

.tab-panels ul li:hover{
  color: #fff;
  background: #666;
}

.tab-panels ul li.active{
  color:#fff;
}

.tab-panels .panel{
  width: 50%;
  height: 100%;
  display: none;
  color:#fff;
  
  padding: 30px;
}

.tab-panels .panel.active{
  display: block;

}
